@import '_base.css';       
@import '_layout.css';     
@import '_home.css';       
@import '_portfolio.css';  
@import '_blog.css';        
@import '_sobre.css';
@import '_contato.css';
@import '_responsive.css'; 